<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guozha.buy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>  
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />  
    <uses-permission android:name="android.permission.CALL_PHONE"/>  
    <!-- QQ、QQ空间所需权限 -->
	<uses-permission android:name="android.permission.GET_TASKS" />
	
	<!-- 极光推送所需权限 -->
	<!-- Required -->
    <permission android:name="com.guozha.buy.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
    <!-- Required -->
    <uses-permission android:name="com.guozha.buy.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!--since 1.6.0 -->
    
	
    <application
        android:allowBackup="true"
        android:name="com.guozha.buy.global.CustomApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- *****************************   业务逻辑Activity BEGIN   **************************** -->
        
        <!-- 闪屏界面 -->
        <activity
            android:name="com.guozha.buy.activity.global.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 主界面 -->
        <activity
            android:name="com.guozha.buy.activity.global.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            
        </activity>
        
        <!-- 菜场详细列表 -->
        <activity 
            android:name="com.guozha.buy.activity.market.ListVegetableActivity"
            android:screenOrientation="portrait">
            
        </activity>
        
        <!-- 计划菜谱选择 -->
        <activity 
            android:name="com.guozha.buy.activity.mpage.PlanMenuActivity"
            android:screenOrientation="portrait">
             
        </activity>
        
        <!-- 时令推荐 -->
        <activity
            android:name="com.guozha.buy.activity.mpage.SeasonActivity"
            android:screenOrientation="portrait">
            
        </activity>
        
        <!-- 注册界面 -->
        <activity 
            android:name="com.guozha.buy.activity.global.RegistActivity"
            android:screenOrientation="portrait">
            
        </activity>
        
        <!-- 登录界面 -->
        <activity 
            android:name="com.guozha.buy.activity.global.LoginActivity"
            android:screenOrientation="portrait">
            
        </activity>
        
        <!-- 找回密码 -->
        <activity
            android:name="com.guozha.buy.activity.global.FindPwdActivity"
            android:screenOrientation="portrait">
            
        </activity>
        
        <!-- 自定义快捷菜单 -->
        <activity 
            android:label="快捷设置"
            android:name="com.guozha.buy.activity.global.ChooseMenuActivity"
            android:screenOrientation="portrait">
            
        </activity>
        
        <!-- 菜品详情 -->
        <activity 
            android:name="com.guozha.buy.activity.market.VegetableDetailActivity"
            android:screenOrientation="portrait">
            
        </activity>
        
        <!-- 查找界面 -->
        <activity 
            android:name="com.guozha.buy.activity.global.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">

        </activity>   
        
        <!-- 设置提醒 -->
        <activity
            android:name="com.guozha.buy.activity.market.SetWarnTimeActivity"
            android:screenOrientation="portrait"/>
        
        <!-- 特供/预售 -->
        <activity 
            android:name="com.guozha.buy.activity.mpage.PreSpecialActivity"
            android:screenOrientation="portrait"/>
        
        <!-- 菜谱详情 -->
        <activity
            android:name="com.guozha.buy.activity.mpage.CookBookDetailActivity"
            android:screenOrientation="portrait"/>
        
        <!-- 设置界面 -->
        <activity
            android:name="com.guozha.buy.activity.mine.SettingActivity"
            android:screenOrientation="portrait"/>
        
        <!-- 我的订单 -->
        <activity 
            android:name="com.guozha.buy.activity.mine.MyOrderActivity"
            android:screenOrientation="portrait"></activity>
        
        <!-- 推荐有奖 -->
        <activity 
            android:name="com.guozha.buy.activity.mine.AdvicePraiseActivity"
            android:screenOrientation="portrait"></activity>
        
        <!-- 我的收藏 -->
        <activity 
            android:name="com.guozha.buy.activity.mine.MyCollectionActivity"
            android:screenOrientation="portrait"></activity>
        
        <!-- 我的菜票 -->
        <activity 
            android:name="com.guozha.buy.activity.mine.MyTicketActivity"
            android:screenOrientation="portrait"></activity>
        
        <!-- 订单详情 -->
        <activity 
            android:name="com.guozha.buy.activity.mine.OrderDetailActivity"
            android:screenOrientation="portrait"></activity>
        
        <!-- 行政区选择 -->
        <activity 
            android:name="com.guozha.buy.activity.mine.ChooseCantonActivity"
            android:screenOrientation="portrait"></activity>
        
        <!-- 我的地址 -->
        <activity
            android:name="com.guozha.buy.activity.mine.MyAddressActivity"
            android:screenOrientation="portrait"/>
        
        <!-- 我的卖家 -->
        <activity 
            android:name="com.guozha.buy.activity.mine.MySellerActivity"
            android:screenOrientation="portrait"></activity>
            
        <!-- Debug界面 -->
        <activity
            android:name="com.guozha.buy.debug.DebugActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            
        </activity>
        
        <!-- 添加新地址 -->
        <activity 
            android:name="com.guozha.buy.activity.mine.AddAddressActivity"
            android:screenOrientation="portrait"></activity>
        
        <!-- 意见反馈 -->
        <activity 
            android:name="com.guozha.buy.activity.mine.FeadbackActivity"
            android:screenOrientation="portrait"></activity>
        
        <!-- 常见问题 -->
        <activity 
            android:name="com.guozha.buy.activity.mine.AnswerQuestionActivity"
            android:screenOrientation="portrait"></activity>
        
        <!-- 关于我们 -->
        <activity 
            android:name="com.guozha.buy.activity.mine.AboutOurActivity"
            android:screenOrientation="portrait"></activity>
        
        <!-- *****************对话框**************** -->
        <!-- 重量选择对话框 -->
        <activity 
            android:name=".dialog.WeightSelectDialog"
            android:theme="@style/Theme.CommenDialog"
            android:screenOrientation="portrait">
            
        </activity>
        
        <!-- 提醒登录对话框 -->
        <activity 
            android:name=".dialog.RemindLoginDialog"
            android:theme="@style/Theme.WeightSelectDialog"
            android:screenOrientation="portrait"></activity>
        
        <!-- 菜谱收藏分类对话框 -->
        <activity 
            android:name=".dialog.CollectionRecipeModifyDialog"
            android:theme="@style/Theme.WeightSelectDialog"
            android:screenOrientation="portrait"></activity>
        
        <!-- 新建分类对话框 -->
        <activity 
            android:name=".dialog.CreateFolderDialog"
            android:theme="@style/Theme.CommenDialog"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan"></activity>
        
        <receiver android:name=".alarm.AlarmReceiver" android:process=":remote"/>
        
        <!-- *****************************   业务逻辑Activity END   **************************** -->
        
        <!-- *****************************   友盟分享 BEGIN   **************************** -->
        
       	<!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- QQ空间和QQ SSO授权的Activity注册-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID-->
                <data android:scheme="tencent100424468" /> 
            </intent-filter>
        </activity>
        
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        
        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        
        <!-- *****************************   友盟分享 END   **************************** -->
        
        <!-- *****************************   友盟自动更新 BEGIN   **************************** -->
        
        <service
		    android:name="com.umeng.update.net.DownloadingService"
		    android:process=":DownloadingService" >
		</service>
		
		<activity 
		    android:name="com.umeng.update.UpdateDialogActivity"
		    android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		</activity>
		
		<!-- *****************************   友盟自动更新 END   **************************** -->
		
		<!-- *****************************   友盟通用 BEGIN   **************************** -->
		
        <!-- 友盟的ID和渠道 -->
        <meta-data android:value="54ed98dffd98c5184a0006c8" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>
		
		<!-- *****************************   友盟通用 END   **************************** -->
		
		<!-- *****************************	 极光推送 BEGIN   *************************** -->
		
		<!-- Required -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
          <intent-filter android:priority="1000"> <!--since 1.3.5 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!--since 1.3.5 -->
                <category android:name="com.guozha.buy" /> <!--since 1.3.5 -->
            </intent-filter> <!--since 1.3.5 -->
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.guozha.buy" />
            </intent-filter>
        </activity>
        
        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        
        <!-- 自定义接受极光推送的消息 -->
        <receiver 
            android:name=".receiver.JPushMessageReceiver"
            android:enabled="true">
		 	<intent-filter>
		        <action android:name="cn.jpush.android.intent.REGISTRATION" />
		        <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
		        <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
		        <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
		        <category android:name="com.guozha.buy" />
		    </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="bc5b0dd35946496a3fd5afe6"/> 
		
		<!-- *****************************   极光推送 END    **************************** -->
		
    </application>

</manifest>
